<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- MIME Types Configuration -->
        <staticContent>
            <!-- Ensure PDF is served with correct MIME type -->
            <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
            <!-- Other common static file types -->
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>

        <!-- Enable compression for static files -->
        <urlCompression doDynamicCompression="true" doStaticCompression="true" />

        <!-- Caching settings -->
        <caching>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </caching>

        <!-- HTTP Response Headers -->
        <httpProtocol>
            <customHeaders>
                <!-- Allow cross-origin requests if needed -->
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>

        <!-- Allow directory listing -->
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
